<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="form-group my-1">
      <label>Profil Name</label>
      <input #profileName type="text" class="form-control">
    </div>
    <div class="form-group">
      <select #status class="form-control" >
        <option value="online">OnLine</option>
        <option value="absent">Absent</option>
        <option value="offline">OffLine</option>
      </select>
    </div>
    <button
      class="btn btn-primary my-1"
      (click)="onCreateProfile(profileName.value, status.value)">
      Ajouter Profil
    </button>
  </div>
</div>

