<div class="row">
    <div class="col bg-danger bg-gradient">
        <h1 class="text-center">Génial Blog</h1>
        <p class="text-center">Ajoutez un article ou un brouillon ! </p>
        <div class="mb-3">
            <label class="form-label">Titre Article</label>
            <input [(ngModel)]="newArticleTitle" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Contenu Article</label>
            <textarea [(ngModel)]="newArticleContent" class="form-control" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <button (click)="onAddArticle()" class="btn btn-dark me-1" >Ajouter Article</button>
            <button (click)="onAddBrouillon()" class="btn btn-outline-dark" >Ajouter Brouillon</button>                
          </div>
    </div>
</div>