/* h1{
    color: whitesmoke;
} */

/* div{
    background-image: linear-gradient(160deg, #ff0105 0%, #909090 100%);
} */

.textWhite{
    color: white;
}
.bg-app{
    background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  
  }

